<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetaBedsTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BetaBedsTests.Properties.Settings>
            <setting name="SeleniumRemoteServerURL" serializeAs="String">
                <value>http://192.168.2.35:4444/wd/hub</value>
            </setting>
            <setting name="HttpProxy" serializeAs="String">
                <value>52.16.27.130</value>
            </setting>
            <setting name="HttpPort" serializeAs="String">
                <value>3128</value>
            </setting>
            <setting name="TestingEnvironment" serializeAs="String">
                <value>Dev</value>
            </setting>
            <setting name="SeleniumBrowser" serializeAs="String">
                <value>chrome</value>
            </setting>
            <setting name="SeleniumExecuteLocally" serializeAs="String">
                <value>True</value>
            </setting>
        </BetaBedsTests.Properties.Settings>
    </userSettings>
</configuration>