<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetaBedsTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <userSettings>
        <BetaBedsTests.Properties.Settings>
            <setting name="SeleniumRemoteServerURL" serializeAs="String">
                <value>http://10.0.1.55:4444/wd/hub</value>
            </setting>
            <setting name="HttpProxy" serializeAs="String">
                <value>52.16.27.130</value>
            </setting>
            <setting name="HttpPort" serializeAs="String">
                <value>3128</value>
            </setting>
            <setting name="CustomURL" serializeAs="String">
                <value>http://local.betabeds.com/</value>
            </setting>
            <setting name="SeleniumBrowser" serializeAs="String">
                <value>firefox</value>
            </setting>
            <setting name="TestingEnvironment" serializeAs="String">
                <value>Live</value>
            </setting>
            <setting name="SeleniumExecuteLocally" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </BetaBedsTests.Properties.Settings>
    </userSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message%newline" />
        </layout>
      </appender>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
</configuration>